<div class="slider">
    <div class="carousel slide" data-ride="carousel" id="carousel">
        <ul class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1" class="active"></li>
            <li data-target="#carousel" data-slide-to="2" class="active"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active" align="center">
                <img src="/img/slide.jpg" alt"1">
            </div>
            <div class="carousel-item" align="center">
                <img src="/img/slide1.jpg" alt="2">
            </div>
            <div class="carousel-item" align="center">
                <img src="/img/slide2.jpg" alt="3">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>