<footer class="footer" role="contentinfo">
    <div class="container-fluid">
        <div class="row align-items-center text-center">
            <div class="col-lg-4 col-12 copyright">
                <p>© 2011 ТОО "Кредмаш-Азия"
                    Все права защищены</p>
                <p>
                    Сайт разработан компанией <a href="http://goweb.org.ua/" target="_blank" style="color: #bd1930">GoWeb</a>
                </p>
            </div>
            <div class="col-lg-4 col-12 contacts text-md-left">
                <address>
                    <p>Республика Казахстан, 010000, г.Астана, пр.Абая 95/1</p>
                    <p><i class="fas fa-fax"></i><span>Тел.факс:</span><a href="fax:(7172) 34-70-82\">+7 (7172)
                            34-70-82</a></p>
                    <p><i class="fas fa-phone"></i><span>Моб:</span><a href="tel:(701) 413-46-16\">+7 (701)
                            413-46-16</a></p>
                    <p><i class="fas fa-envelope"></i><span>E-mail:</span><a href="mailto:kredmash.astana@gmail.com">kredmash.astana@gmail.com</a></p>
                </address>
            </div>
            <div class="col-lg-4 col-12">
                <p> © 2007 Kredmash <span style="color: #bd1930">A</span>sia</p>
            </div>
        </div>
    </div>
</footer>