<div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">
                        Главная
                        <span class="sr-only">
                            Home
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/productions.html">
                        Продукция
                    </a>
                </li>
                <li class="dropdown nav-item custom-nav">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Запчасти<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/pages/dc-185.html">ДС-185</a></li>
                        <li><a href="/pages/kdm-201.html">КДМ-201</a></li>
                        <li><a href="/pages/dc-168.html">ДС-168</a></li>
                        <li><a href="/pages/dc-50b.html">ДС-50Б</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/contact.html">
                        Контакты
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>