<div class="product">
    <p class="title">Наша продукция</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-sm-6">
                <div class="card">
                    <img src="/img/ds-168.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ДС-185</h5>
                        <p class="card-text">Объем мешалки: 730 кг</p>
                        <a href="#" class="btn btn-danger">Посмотреть прайс</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6">
                <div class="card">
                    <img src="/img/ds-168.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">КДМ-201</h5>
                        <p class="card-text">Объем мешалки: 1500 кг</p>
                        <a href="#" class="btn btn-danger">Посмотреть прайс</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6">
                <div class="card">
                    <img src="/img/ds-168.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ДС-168</h5>
                        <p class="card-text">Объем мешалки: 2200 кг</p>
                        <a href="#" class="btn btn-danger">Посмотреть прайс</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6">
                <div class="card">
                    <img src="/img/ds-168.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ДС-50Б</h5>
                        <p class="card-text">Объем мешалки: 2600 кг</p>
                        <a href="#" class="btn btn-danger">Посмотреть прайс</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>